body {
	font-family: monospace;
}

#about {
	background-color: #51648A;
	color: white;
}
#contact {
	background-color: #BEBD8D;
}

.parallax {
	background: url("content/drops.jpg") no-repeat center fixed;
	background-size: auto;
	height: 20rem;
	color:  #51648A;
	text-shadow: 0 0 1rem yellow;
	padding: 8rem;
}
