body {
	font-family: sans-serif;
}
.penelope {
	float: right;
	width: 30%;
	z-index: 2;
	display: inline-block;
}
.persona {
	float: left;
	z-index: 1;
	display: inline-block;
	width: 70%;
	margin-right: 20px;
}